@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@
@{
    Layout = null;
}


<html>
<head>
    <style>
        div,span {
            border: 1px solid red;
            height:200px;
            width:40px;
            display:inline-block;
        }


    </style>
</head>
<body>
    <div style="visibility:hidden">
        this is a div
    </div>
    <div>
        this is another div
    </div>

    <span>
        This is first span
    </span>
    <span>
        This is second span
    </span>
</body>
</html>